# This is for ElasticBeanstalk with Amazon Linux 2023. For previous Linux 2 or Linux 1, see revisions for ideas
packages:
  yum:
    cups-libs: []
    libdrm: []
    libXdamage: []
    libXfixes: []
    libXrandr: []
    mesa-libgbm: []
    libxkbcommon: []
    dbus-glib: []
    libXrandr: []
    libXcursor: []
    libXinerama: []
    cairo: []
    cairo-gobject: []
    pango: []
    liberation-sans-fonts: []
    libwayland-client: []
    libwayland-cursor: []
    gtk3: []
    gdk-pixbuf2: []
    libxkbcommon: []
    libXScrnSaver: []
    libpkgconf: []
    atk: []
    at-spi2-atk: []
    at-spi2-core: []
    alsa-lib: []

commands:
  refresh-fonts:
    command: |
      fc-cache-64 -f -v

install_chrome:
    command: |
      curl -O https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
      yum install -y google-chrome-stable_current_x86_64.rpm
      rm google-chrome-stable_current_x86_64.rpm