<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation</title>
    <style>
      * {
        text-align: center;
      }

      body {
        background-color: #efefef;
      }

      .mail-wrapper {
        width: 90%;
        max-width: 700px;
        margin: 1rem auto;
        background-color: #fff;
        border-top: 4px solid #377666;
        padding: 1rem 3rem 1rem 3rem;
      }

      header {
        text-align: center;
      }

      hr {
        border: 0.7px solid #b0b0b033;
        margin: 1rem;
      }

      main h1 {
        text-align: center;
        color: #000;
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-bottom: 30px;
      }

      main p {
        color: #666;
        font-size: 12pt;
        padding: 0 10px 0 10px;
        line-height: 1.5;
        text-align: left;
      }

      main {
        margin: 2rem auto;
      }

      main a {
        display: block;
        margin: 0 auto;
        width: 90%;
        max-width: 220px;
        background-color: #377666;
        color: #fff;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        transition: border-radius 200ms linear;
        border-radius: 10px;
      }

      footer {
        padding: 1rem;
        color: #fff;
        text-align: center;
        margin-bottom: 1rem;
      }

      .check-icon {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }

      footer small,
      footer p {
        display: block;
        color: #666;
        text-align: left;
      }

      footer small a {
        color: #666;
        text-decoration: none;
      }

      @media screen and (max-width: 580px) {
        main p {
          color: #666;
          font-size: 12pt;
          padding: 0 10px 0 10px;
          line-height: 1.5;
          max-width: 450px;
        }

        h1 {
          font-size: 14pt;
        }
      }

      .copyright {
        margin-top: 1rem;
        font-size: 8pt;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="mail-wrapper">
      <header>
        <img
          src="https://uploads-ssl.webflow.com/63f74b539302c364eb09d5f3/63f75405f60fdd7932cb1bad_nophin-logo%201.svg"
          alt=""
          style="margin: 20px 0px"
        />

        <hr />
      </header>
      <main>
        <h1>Join {{ username }} in Nophin</h1>
        <hr />
        <p>Hello {{ name }},</p>
        <p>
          You have been invited by <strong>{{ username }}</strong> to join their
          team <strong>{{ organization }}</strong> on
          <strong>Nophin.</strong>
        </p>
        <p>We will send you a link with instructions to reset your password.</p>
        <p></p>
      </main>
      <footer>
        <small
          >Nophin helps commercial real estate investors make sophisticated
          underwriting decisions faster with an AI copilot.</small
        >
        <br />
        <small
          >If you have any questions or need any help, feel free to reach out to
          us</small
        >
        <br />
        <small style="text-align: center">
          <a href="mailto:hello@nophin.com"
            ><strong>Contact us</strong></a
          ></small
        >
        <small class="copyright"> Copyright &copy; 2023 Nophin </small>
      </footer>
    </div>
  </body>
</html>
