<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test email</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minima nisi dicta vitae! Illo laudantium delectus deserunt et, nostrum beatae mollitia quas illum, cum omnis, fugiat vero nisi nihil atque.</p>
</body>
</html>